.popup-confirm-content {
    height: 100px;
}

.popup-confirm-question {
    margin: 20px 0 0 0;
    font-size: 11pt;
}

.popup-confirm-button {
    margin: 20px 0 0 0;
}

.popup-confirm-button button{
    margin: 0 40px;
    width: 100px;
    height: 30px;
    padding: 0;
}