<div class="sidebar-collapse menu-scroll">
    <ul id="side-menu" class="nav admin-nav-main">
        <li class="user-panel">
            <div class="thumb"><img ng-src="{{vm.myInfor.avatar.url_thumb? appConfigs.baseUrl + vm.myInfor.avatar.url_thumb : './assets/images/default_avatar.png'}}"
                    class="img-circle" /></div>
            <div class="info">
                <p>Admin</p>
                <ul class="list-inline list-unstyled">
                    <li ng-click="vm.logOut()"><a data-hover="tooltip" title="Logout"><i class="fa fa-sign-out"></i></a></li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </li>
        <li ng-class="{active: $state.includes('index.control')}">
            <a ui-sref="index.control">
                <i class="fa fa-tachometer fa-fw">
                    <div class="icon-bg bg-orange"></div>
                    </i>
                <span class="menu-title">Điều khiển</span>
            </a>
        </li>
         <li ng-class="{active: $state.includes('index.setting')}">
            <a ui-sref="index.setting">
                <i class="fa fa-cog fa-fw">
                    <div class="icon-bg bg-orange"></div>
                    </i>
                <span class="menu-title">Cài đặt</span>
            </a>
        </li>
    </ul>
</div>