<div class="row">
    <div class="col-md-12">
        <div> {{vm.connected1?'Đã kết nối' : 'Đang kết nối'}}
        </div>
        <div ng-show="!vm.connected1 || vm.wait1" class="loader" aria-hidden="true"></div>
        <br>
        <br>
        <br>
        <br>
        <strong ng-show="vm.wait1">Vui lòng chờ...</strong>
        <br>
        <div>
            <div class="panel panel-green">
                <div class="panel-heading">FARM </div>
                <div class="panel-body pan">
                    <form class="form-horizontal ng-pristine ng-valid form-validate">
                        <div class="form-body pal">
                            <table class="table table-hover table-striped table-bordered table-advanced tablesorter">
                                <thead>
                                    <tr>
                                        <th>NHIỆT ĐỘ</th>
                                        <th>ĐỘ ẨM</th>
                                        <th>ĐỘ ẨM ĐẤT</th>
                                    </tr>
                                    <tbody>
                                        <tr>
                                            <td>{{vm.zone_1[0]}}</td>
                                            <td>{{vm.zone_1[1]}}</td>
                                            <td>{{vm.zone_1[2]}}</td>
                                        </tr>
                                    </tbody>
                                </thead>
                            </table>
                            <table class="table table-hover table-striped table-bordered table-advanced tablesorter">
                                <thead>
                                    <tr>
                                        <th>TỰ ĐỘNG / BẰNG TAY </th>
                                        <th ng-class="vm.manual_1?'enable':''">ĐÈN</th>
                                        <th ng-class="vm.manual_1?'enable':''">BƠM</th>
                                        <th ng-class="vm.manual_1?'enable':''">QUẠT</th>
                                        <th ng-class="vm.manual_1?'enable':''">PHUN SƯƠNG</th>
                                    </tr>
                                    <tbody>
                                        <tr>
                                            <td> <label class="switch">
                           <input type="checkbox" ng-disabled="!vm.connected1 || vm.wait1" ng-checked="vm.manual_1"  ng-click="vm.mode1Change()">
                            <div class="slider round"></div>
                          </label></td>
                                            <td> <label class="switch">
                           <input type="checkbox" ng-disabled="!vm.connected1 || vm.wait1 || !vm.manual_1" ng-checked="vm.light_1" ng-click="vm.light1Change()">
                            <div class="slider round"></div>
                          </label></td>
                                            <td>
                                                <label class="switch">
                                     <input ng-disabled="!vm.connected1 || vm.wait1  || !vm.manual_1" type="checkbox" ng-checked="vm.pumb_1"  ng-click="vm.pumb1Change()">
               <div class="slider round"></div>
                   </label>
                                            </td>
                                            <td><label class="switch">
                           <input type="checkbox" ng-disabled="!vm.connected1 || vm.wait1  || !vm.manual_1" ng-checked="vm.fan_1"  ng-click="vm.fan1Change()">
                            <div class="slider round"></div>
                          </label></td>
                                            <td><label class="switch">
              <input ng-disabled="!vm.connected1 || vm.wait1  || !vm.manual_1" type="checkbox" ng-checked="vm.boiler_1"  ng-click="vm.boiler1Change()">
                    <div class="slider round"></div>
</label></td>
                                        </tr>
                                    </tbody>
                                </thead>
                            </table>
                        </div>
                        <div class="form-action">
                            <div class="col-md-offset-3 col-md-9 ">

                            </div>
                        </div>
                    </form>
                </div>
            </div>

          
